.newlink {
  background-color:
    #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.liststyle {
  list-style-type: none;
}

.liststyle1 {
  list-style-type: lower-roman;
}

.newlink:active {
  text-decoration: none !important;
}

/* .linktest:hover {

  text-decoration: none;

}

.linktest:visited {

  text-decoration: double;

}

.linktest:active {
  text-decoration: line-through;

} */


.cssfontspair {
  font: italic small-caps lighter 15px Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
}

.parapair {
  font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;

}

.heading321 {
  font: bold small-caps 300px 32px Verdana !important;
}

.one1 {
  border: 2px solid red;
  /* width: inherit; */
  /* margin-bottom: 40px; */
  /* padding: inherit; */
}

.one2 {
  width: 100px;
  border: 2px solid red;
  margin: 0;
  /* padding: 20px; */
  /* box-sizing: border-box; */
  /* width 100px + padding 50px 
  total width = 150px */
}

.heading {
  color: green;
  border: 5px solid red;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  /* width: 200px; */
  /* width = mentined width 150px + 10px + 10px + 5px + 5px  + 10px +10px*/
  font-family: "Pacifico", cursive;
}

.test {
  border: 2px solid red;
  /* outline-style:solid;
  outline-width: 5px;
  outline-color: #000; */
  outline: 2px solid yellow;
  color: purple;
  background: burlywood;
  text-align: left;
  direction: ltl;
  text-transform: none;
  text-indent: 30px;
  letter-spacing: 1px;
  /* line-height: 1; */
  /* word-spacing:10px; */
  white-space: pre;
  text-shadow: 2px 1px 2px green;
}

.test32 {
  font-weight: 600;


}

.font {
  font-size: 10vw;
  font-family: "Trispace", sans-serif;
  color: blueviolet;
}

.align1 {
  vertical-align: middle;
}

#text12 {
  text-decoration: underline;
  color: blue;
}

.listitem {
  /* display: inline; */
  display: block;
}

.test231 {

  display: block;
}

.test21 {
  /* display: none; */
  visibility: hidden;
}

.width {
  border: 2px solid red;
  width: 300px;
  height: 100px;
  margin: auto;
  /* overflow: auto; */

  /* top to bottom */
  overflow-y: hidden;

  /* left to right */
  overflow-x: visible;


}