/* Flexbox */
.container {
    background-color: yellow;
    display: flex;
    width: 550px;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    /* shorthand for flex direction and flex wrap */
    /* flex-flow: row wrap; */

    /* for main axis */
    justify-content: space-evenly;

    /* for cross axis */
    align-items: baseline;
    align-content: center;
}

.flexItem {

    background-color: blue;
    border: 2px solid;
    width: 200px;
    height: 100px;
}

.container-2,
.container-3 {
    background-color: red;
    display: flex;
    width: 550px;
    height: 500px;
    flex-direction: row;
    /* flex-wrap: wrap; */

}


.item {

    background-color: blue;
    border: 2px solid;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
}

.container-4 {
    background-color: red;
    display: flex;
    width: 550px;
    height: 500px;
    flex-direction: row;
    align-items: flex-end;
    /* flex-wrap: wrap; */

}

/* Media query */
@media (min-width: 480px) and (max-width: 768px) {
    * {
        background-color: red;
        color: green;
    }

    .container-4 {
        font-size: 32px;
    }
}

/* media type orientation */
@media (orientation: potrait) {
    * {
        background-color: blue;
    }
}