.grid-container {

    display: grid;
    text-align: center;
    font-size: larger;
    height: 100vh;
    grid-template-columns: [first] 1fr [second] 2fr [third] 1fr [fourth];
    grid-template-rows: [a] 100px [b] auto [c] 50px;
    border: 2px solid;



}


.header {
    background-color: green;
    grid-column: first / fourth;
    grid-row: a / b;
    border: 2px solid;


}

.sidebar {
    background-color: yellow;
    grid-column: first / second;
    grid-row: b / c;
    border: 2px solid;


}

.content {
    background-color: red;
    grid-column: second / third;
    grid-row: b / c;
    border: 2px solid;

}

.content-2 {
    background-color: purple;
    grid-column: third / fourth;
    grid-row: b / c;
    border: 2px solid;

}

.footer {
    background-color: black;
    color: white;
    grid-column: first / fourth;
    grid-row: c / c;
    border: 2px solid;


}